{% extends "blog/base.html" %}

{% block content %}


<center>
<br>
<h3>Login</h3>
<hr>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  <input class="form-control" style="width: 500px" name="username" type="text" placeholder="Nome de usuário...">
    <br>
  <input class="form-control" style="width: 500px" name="password" type="password" placeholder="Senha...">
  <br>
{% if form.errors %}
  <p>Seu nome de usuário e senha não conferem com os da produção. Por favor, tente novamente!.</p>
{% endif %}
	<input class="btn btn-primary" type="submit" value="Login" />
    <br>
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br>
<p><a href="{% url 'password_reset' %}">Perdeu a senha?</a></p>

{% endblock %}
