{% extends "blog/base.html" %}

{% block content %}

	<h3>Desconectado!</h3>
	<hr>
	<p>Muito obrigado!!!</p>

	<a href="{% url 'login '%}" class="btn btn-primary">Fazer o Login</a>
	<br>
	<a href="{% url 'post_list '%}" class="btn btn-primary">Ir para a Home</a>

{% endblock %}
