{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Healthin' up</title>
  </head>
  <style>
      body{
        width: auto;
      }
      #banner{
        background-image: url({% static 'banner.png' %});
        width: auto;
        height: 312px;
        vertical-align: middle;
      }
      #banner2{
        background-image: url({% static 'banner2.png' %});
        width: auto;
        height: 200px;
        vertical-align: middle;
      }
      }
      .class-img{
        width: auto;
        height: auto;
      }
      .vertical-align {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
  </style>
  <body>
    <center>
      <div class="conteiner-fluid" id="banner">
        <img src="{% static 'logo.png' %}" id="logo" class="vertical-align">
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'post-list' %}">Healthin' up</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Busque" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      </center>


  {% block content %}
  {% endblock %}
  
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <footer>
    <div class="conteiner-fluid" id="banner2"></div>
  </footer>
  </body>
</html>