{% extends "blog/base.html" %}
{% block content %}

  <center>
    <br>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-2'>
          <h4>Seu perfl</h4><hr>
          {% include "blog/perfil_card.html" %}
        </div>

        <div class="col-8">
        <h3>{{ object.name }}</h4>
        <hr>
          {% for post in object.posts.all %}
            {% include "blog/post_card.html" %}
          {% endfor %}
        </div>

        <div class="col-2">
          <h4>Algo que ainda não sei</h4><hr>
          {% include "blog/categorias_listgroup.html" %}
        </div>

      </div>
    </div>
  </center>

{% endblock %}