          <div class="row">
            <div class="col">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="{% url 'post-list' %}" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="{% url 'category-detail' 1 %}" role="tab" aria-controls="profile">Receitas</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="{% url 'category-detail' 2 %}" role="tab" aria-controls="messages">Exercícios Físicos</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="{% url 'category-detail' 3 %}" role="tab" aria-controls="settings">Estilo de Vida</a>
              </div>
            </div>
          </div>