{% load static %}


          <div class="card" style="width: 98%;">
            <img src="{% static 'pessoas.png' %}" class="card-img-top" alt="..." class="rounded-circle">
            <div class="card-body">
            	{% if request.user.is_authenticated %}
              <h5 class="card-title">{{ request.user.get_full_name }}</h5>
              <p class="card-text">Status</p>
              <a href="{% url 'logout' %}" class="btn btn-primary">Sair</a>
              {% else %}
              <h5 class="card-title">Você...</h5>
              <p class="card-text">Seu interessante status...</p>
              <a href="{% url 'login' %}" class="btn btn-primary">Fazer Login</a>
              {% endif %}
            </div>
          </div>