{% extends "blog/base.html" %}
{% load static %}
{% block content %}


    <br>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-2'>
          <center>
          <h4>Seu Perfil</h4>
          <hr>
          
          {% include "blog/perfil_card.html" %}
          </center>
        </div>

        <div class="col-8">
          <center>
          <h2>{{ object.title }}</h2>
          <h4>Por {{ object.author }}</h4>
          <hr>
          <p class="text-muted">{{ object.description }}</p>
          <hr>
          <img src="{{ object.banner.url }}" alt="Imagem do Post" class="img-fluid">
          <hr>
          </center>
          <p>{{ post.text | safe }}</p>
          <p class="text-muted" align="right">{{ post.created_at }}</p>
          <hr>
          <h4>Deixe seu comentário:</h4>
          <form method="POST" action="{% url 'comment' object.id%}">
            {% csrf_token %}
            <textarea name="text" class="form-control" rows="4"></textarea>
            <br>
            <center><button class="btn btn-info">Comentar</button></center
          </form>
          <hr>
          <br>
          <h4>Comentários:</h4>
          <br>
          {% for comment in object.comments.all %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ request.user.get_full_name }}</h5>
              <p class="card-text">{{ comment.text }}</p>
              <p class="text-muted" style="float: right">{{ comment.created_at }}
            </div>
          </div>
          <br>
          {% endfor %}
          <br>
        </div>

        <div class="col-2">
          <center>
          <h4>Postagens Relacionadas</h4>
          <hr>
          {% for post in object.category.posts.all %}
          <div class="card" style="width: auto;">
            <img src="{{ post.banner.url }}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ post }}</h5>
              <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Ler</a>
            </div>
          </div>
          <br>
          {% endfor %}
          </center> 
        </div>

      </div>
    </div>


{% endblock %}