{% load static %}
        <center>
         <div class="card" style="max-width: 100%;">
            <div class="card-header">
              <h5 class="card-title">{{ post }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
            </div>
            <div class="row no-gutters">
              <div class="col-5">
                <img src="{{ post.banner.url }}" class="card-img" alt="...">
              </div>
              <div class="col-7">
                <div class="card-body">
                  <p class="card-text">{{ post.description }}</p>
                  <br>
                  <a href="{% url 'post-detail' post.pk %}" class="btn btn-info">Ler a respeito</a>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
            </div>
          </div>
        </center>
          <br>