{% extends "blog/base.html" %}
{% block content %}

    <br>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-2'>
          <center>
          <h4>Seu perfil</h4><hr>
          {% include "blog/perfil_card.html" %}
          </center>
        </div>

        <div class="col-8">
          <center>
          <h3>Postagens</h3><hr>
          </center>
          {% for post in object_list %}
            {% include "blog/post_card.html" %}
          {% endfor %}
        </div>

        <div class="col-2">
          <center>
          <h4>Algo que não sei ainda</h4><hr>
            {% include "blog/categorias_listgroup.html" %}
          </center>
        </div>

      </div>
    </div>


  </center>

{% endblock %}